@font-face {
  font-family: "iconfont"; /* Project id 4283511 */
  src: url('iconfont.woff2?t=1703138695754') format('woff2'),
       url('iconfont.woff?t=1703138695754') format('woff'),
       url('iconfont.ttf?t=1703138695754') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_classify_p:before {
  content: "\e849";
}

.icon-shoucang:before {
  content: "\e601";
}

.icon-haoyoutuijie:before {
  content: "\e629";
}

.icon-gouwudai:before {
  content: "\e666";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-shangchuanyunpan:before {
  content: "\e6b3";
}

.icon-quku:before {
  content: "\e632";
}

.icon-add-fill:before {
  content: "\e913";
}

.icon-rili:before {
  content: "\e63f";
}

.icon-zhiboziyuan:before {
  content: "\e614";
}

.icon-luyinjishouyinjidiantai:before {
  content: "\e625";
}

.icon-zhuzhuangtu:before {
  content: "\eca8";
}

.icon-gedan:before {
  content: "\e66d";
}

.icon-saoyisao:before {
  content: "\e8b5";
}

.icon-nav:before {
  content: "\e62f";
}

.icon-huatong:before {
  content: "\e609";
}

.icon-sousuo1:before {
  content: "\e651";
}

.icon-yinle-copy:before {
  content: "\ecab";
}

.icon-KHCFDC_guanzhu-copy:before {
  content: "\ecac";
}

.icon-bubbles-copy:before {
  content: "\ecad";
}

.icon-netease-cloud-music-fill1-copy:before {
  content: "\ecae";
}

.icon-yinle:before {
  content: "\e602";
}

.icon-24gl-bubbles:before {
  content: "\e940";
}

.icon-KHCFDC_guanzhu:before {
  content: "\e667";
}

.icon-radio:before {
  content: "\e745";
}

.icon-netease-cloud-music-fill:before {
  content: "\e7b6";
}

.icon-radio-copy:before {
  content: "\ecaa";
}

.icon-sousuotianchong:before {
  content: "\e694";
}

.icon-fabusekuai:before {
  content: "\ec46";
}

.icon-icon-travel:before {
  content: "\e6a7";
}

.icon-sousuo:before {
  content: "\e69e";
}

.icon-gengduotianchong:before {
  content: "\e67f";
}

.icon-31wode:before {
  content: "\e600";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-apple-fill:before {
  content: "\e881";
}

.icon-login:before {
  content: "\e8ef";
}

.icon-ningmeng:before {
  content: "\e608";
}

.icon-zhuye:before {
  content: "\e873";
}

.icon-xiazai:before {
  content: "\e6be";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-huawei1:before {
  content: "\e610";
}

